* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@400;500&family=Poppins:wght@500&display=swap");

body,
html {
  background: #e98746;
  background: linear-gradient(180deg, #e98746 0%, #eeb28a 100%);

  background-size: cover;
  height: 100%;
  overflow-y: hidden;
}

.main {
  height: 28vh;

  border: 1px solid rgb(150, 143, 143);
  background-color: #10949c;
  align-content: center;
  margin: auto;
  position: relative;
  margin-top: 2%;
  border-radius: 5%;
  box-shadow: 5px 2px 2px#06373a;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 500px) {
  .poke {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 40%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .main {
    width: 40vw;
  }
}

@media only screen and (max-width: 500px) {
  .poke {
    width: 60%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .main {
    width: 65vw;
  }
}

.boton {
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 50vh;
  height: 4vh;
  box-sizing: border-box;
  transition: all 0.2s;
}

button:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.poke:hover {
  cursor: pointer;
  width: 40.5%;
}
